<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/media/styles/home.css">
</head>
<body>
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Register">
        
    </form>
    <p>Already Have an Account? <a href="/accounts/login" style="text-decoration: none; color: azure;">Login</a></p>
    
</body>
</html>