body{
    background-color: rgb(75, 67, 67);
}

a{
    text-decoration: none;
}

.header{
    text-align: center;
    background-color: rgb(97, 77, 77);
    color: aliceblue;
    border-radius: 10ch;
}

p{
    display: inline-block;
}

.player{
    max-width: 500px;
    max-height: 700px;
    width: 40%;
    /* border: 2px solid rgb(65, 55, 55); */
    position:relative;
    text-align: center;
    background-color: rgb(97, 77, 77);
    color: aliceblue;
    margin: 1%;
    border-radius: 60px 60px 0px 0px;
    flex-shrink: 0;
    
}

.music-player{
    width: 100%;
}

input[type=text], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {

    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=submit]:hover {
    background-color: #45a049;
}


#id_password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}


.logout-button{
    float: right;
    text-decoration: none;
    color: rgb(115, 115, 183);
    background-color: black;
    padding: 0.5%;
    margin-right: 1%;

}

.main-form{
    border: 2px solid black;
    text-align: center;
}

.conts{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5%;
    justify-content: center;
    text-align: center;
    margin: 1%;
    height: 100%;
}

.cover-image{
    max-height: 400px;
}

.user-button{
    float: right;
    text-decoration: none;
    color: rgb(115, 115, 183);
    background-color: black;
    padding: 0.5%;
    margin-right: 1%;
}

.user-info{
    margin: 1%;
    border-radius: 20px;
    background-color: #737a73;
}
.text-cont{
    float: right;
    /* text-align: center; */
    margin-right: 10%;
    margin-top: 0.5%;
    background-color: grey;
    padding: 1%;
    border-radius: 20px;
}
.profile-image{
    
    max-width: 400px;
    
    height: 100%;
    
    border-radius: 20px 0px 0px 20px;
    
}

.data-change-form{
    border: 2px solid red;
    background-color: grey;
    justify-content: center;
}
.bio{
    text-align: center;
    background-color: grey;
}
#id_profile_image{

    display: block;
    padding: 1%;
    margin: 1%;
    
    width: 96%;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(98, 98, 98);

}

#id_bio{
    text-align: center;

    display: block;
    width: 100%;
    
}